
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
  font-family: 'Roboto', sans-serif;
}


 
 

  .scrollable {
    height: 100vh;
    overflow-y: scroll;
    
    
  }
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    
    
    
    
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  
  
}
.carousel-caption h1 {
  font-size: 30px;
  font-weight: bold;
  color: #b9c670;
  
}
.carousel-caption p {
  font-size: 18px;
  text-align: justify;
  
}
#map{
  height: 500px;
  width: 100%;
  
  
}
.carrousel-inner p{
   font-size:30px;
   
}

.carrousel-item img{
  content: "";
  background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75));
}
.buttons {
  min-width: 700px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #b9c670;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}

<<<<<<< HEAD
 

  
  .
   

  
  
=======
  /*Contacto.html*/
.hero-page{
    background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(.//imagenes/imagen2.jpg) center;
    background-size: cover;
    height: 200px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-hero-page{
    color: #fff;
    padding: 1rem;
}
.section{
    margin: 3rem auto;
    padding: 1rem;
}
.wrap-two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}
/*Formulario*/
.formulario{
    display: flex;
    flex-flow: column;
}
.formulario input, .formulario textarea{
    margin: .5rem 0;
    padding: .5rem .2rem;
}
.formulario button{
    width: fit-content;
    border: none;
    padding: .5rem 1rem;
    background-color: #ffc300;
    color:#fff;
    font-size: 1.1rem;
}

@media (max-width:640px){
    .wrap-two-column{
        grid-template-columns: 1fr;
    }
}
>>>>>>> 0a7d911c7a970116e1662be137d2307d5a197c74
